@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome!</h1>
    <h3>
        Are you here to book an entertainer?
    </h3>
    <a class="link-dark" asp-controller="Home" asp-action="EntertainerList">Click Here to view our entertainers</a>
</div>
